body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1
{
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2; 
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight:normal;
    padding-bottom: 10px;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


a
{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover
{
    color: #f0c425;
}

hr
{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.contact-message
{
    width:40%;
    margin: 40px auto 60px;
}

.top-container
{
    padding-top: 100px;
    background-color: #EFEAD8;
    position: relative
}

.middle-container
{
    margin:100px 0;
}

.bottom-container
{
    background-color: #EFEAD8;
    padding: 50px;
    margin-top: 30px;
}

.top-cloud
{
    position: absolute;
    top:50px;
    left: 900px;

}

.bottom-cloud
{
    position:absolute;

}

.intro
{
    width:30%;
    margin:auto;
    line-height: 2;
}

.skill-row
{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.giphy
{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.cpp-img
{
    width:25%;
    float: right;
    margin-left: 30px;

}

.profile-pic
{
    height: 200px;
    width:200px;
}

.copyright
{
    color:#f0c425;
    font-size: 0.75rem;
}

.btn {
    background: #f5e7b8;
    background-image: -webkit-linear-gradient(top, #f5e7b8, #f5e7b8);
    background-image: -moz-linear-gradient(top, #f5e7b8, #f5e7b8);
    background-image: -ms-linear-gradient(top, #f5e7b8, #f5e7b8);
    background-image: -o-linear-gradient(top, #f5e7b8, #f5e7b8);
    background-image: linear-gradient(to bottom, #f5e7b8, #f5e7b8);
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    font-family: Georgia;
    color: #32d6d6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    text-decoration: none;
  }

